<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
                    <li class="breadcrumb-item"><a ui-sref="products">Sản phẩm</a></li>
                    <li class="breadcrumb-item active"><a ui-sref="product_add">Thêm mới</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thêm mới sản phẩm</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <!--Create category form-->
        <div class="card card-info">
            <!-- form start -->
            <form class="form-horizontal" novalidate name="frmAddProduct" role="form" ng-submit="addProduct()">
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Tên danh mục</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required ng-change="GetSeoTitle()" name="name" ng-model="product.Name">
                            <span ng-show="frmAddProduct.name.$invalid" class="has-error">Tên sản phẩm không được để trống</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Tiêu đề SEO</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="alias" ng-model="product.Alias">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Mô tả ngắn</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="description" ng-model="product.Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Danh mục</label>
                        <div class="col-sm-10">
                            <select name="categoryId" class="form-control" required ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in productCategories">
                                <option value="">-- Chọn danh mục --</option>
                            </select>
                            <span ng-show="frmAddProduct.categoryId.$invalid" class="has-error">Phải chọn danh mục</span>
                            <input name="categoryId" type="hidden" ng-model="product.CategoryID" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Bảo hành</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="warranty" ng-model="product.Warranty"> (tháng)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Giá</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="price" required ng-model="product.Price">
                        </div>
                        <span ng-show="frmAddProduct.price.$invalid" class="has-error">Phải chọn giá</span>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Giá khuyến mãi</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="promotionPrice" ng-model="product.PromotionPrice">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Hình ảnh</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="image" ng-model="product.Image">
                            <br />
                            <button class="btn btn-default" ng-click="chooseImage()">Chọn ảnh</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Mô tả sản phẩm</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" name="content" ckeditor="ckeditorOptions" ng-model="product.Content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Meta keyword</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="metaKeyword" ng-model="product.MetaKeyword">
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="status" ng-model="product.Status" ng-checked="product.Status">
                                <label class="form-check-label" for="exampleCheck2">Kích hoạt</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="homeFlag" ng-model="product.HomeFlag" ng-checked="product.HomeFlag">
                                <label class="form-check-label" for="exampleCheck2">Hiển thị trang chủ</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="hotFlag" ng-model="product.HotFlag" ng-checked="product.HotFlag">
                                <label class="form-check-label" for="exampleCheck2">Sản phẩm hot</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="frmAddProduct.$invalid">Lưu</button>
                    <button ui-sref="product_categories" class="btn btn-default float-right">Hủy</button>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
        <!--Create category form-->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->